.DS_Store
Library
Library/*
*.csproj
*.sln
*.userprefs
Temp/*
obj/*
*.pidb
*.suo
*.vs
Logs
Logs/*
.autosave
*_bak*.hip
UserSettings
UserSettings/*
.vsconfig
AmplifyShaderEditor/
AmplifyShaderEditor.meta