.vs/
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
SourceArt/**/*.png
SourceArt/**/*.tga
Binaries/*
Plugins/*/Binaries/*
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
*_BuiltData.uasset
Saved/*
Intermediate/*
Plugins/*/Intermediate/*
DerivedDataCache/*